body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #154284 0, #cd122d);
}
/* Header */
.header-container {
  position: fixed;
  height: 16vh;
  width: 100%;
  background: #181733;
  display: flex;
  flex-direction: row;
}
.header-title {
  height: 100%;
  width: 22.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title img {
  width: 20%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.header-title div {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}
.header-separator {
  border-left: 2px solid lightgray;
}
.header-contents {
  height: 100%;
  width: 80%;
}
.header-first-line {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-sns-links {
  display: flex;
  flex-direction: row;
}
.header-sns-links-title {
  display: inline-block;
  text-align: center;
  padding: 0 0.5vw;
  color: grey;
  font-weight: bold;
  font-size: 0.5rem;
  margin: 0 auto;
}
.sns-link {
  display: inline-block;
  padding: 0 0.25vw;
  height: 100%;
}
.sns-link a {
  text-decoration: none;
  color: grey;
}
.sns-link a:hover {
  color: white;
}
.header-first-contents {
  display: flex;
  flex-direction: row;
  right: 0;
  height: 100%;
}
.login-link-container {
  padding: 0 0.25vw;
  margin: 0 0.25vw;
  font-size: 0.75rem;
  border-left: 0.1rem solid #29283d;
}
.login-link-container a {
  color: white;
}
.culer-link-container {
  padding: 0 0.25vw;
  margin: 0 0.25vw;
  background-color: #8d1a17;
  height: 100%;
}
.culer-link-container a {
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
}
.select-language-container {
  padding: 0 0.25vw;
  margin: 0 0.25vw;
  font-size: 0.75rem;
}
.select-language-container a {
  color: white;
}
.barcelona-sites-links {
  padding: 0 0.25vw;
  margin: 0 0.25vw;
  font-size: 0.5rem;
  color: white;
}
.barcelona-sites-links:hover {
  background-color: #154284;
}
.header-contents-separator {
  border: 1px solid lightgray;
}
.header-second-line {
  height: 70%;
  display: flex;
  flex-direction: row;
}
.header-second-content {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-weight: bold;
}
.header-second-content:hover {
  color: white;
}
.header-second-search-icon {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Content */
.content-container {
  padding-top: 16vh;
}
/* Content - Media */
.content-medias-container {
  margin: 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-medias-title {
  color: white;
  font-weight: bold;
  margin: 2vh 0;
}
.content-medias-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-media-box {
  margin: 0.25vh 0.25vw;
  padding: 2vh 1vw;
  height: 6vw;
  width: 16vh;
  color: white;
  display: flex;
  flex-direction: column;
}
.content-media-box i {
  height: 60%;
}
.media-viber {
  background-color: #665cac;
}
.media-facebook {
  background-color: #4267b2;
}
.media-twitter {
  background-color: #1da1f2;
}
.media-youtube {
  background-color: #ff0000;
}
.media-instagram {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}
.media-dugout {
  background-color: gainsboro;
  color: black;
}
.content-media-dugout-icon {
  padding: 1vh 0;
  font-size: 3rem;
  font-weight: bold;
  height: 60%;
}
.media-tictok {
  background-color: black;
}
.content-media-box-subtitle {
  font-size: 0.25rem;
  height: 20%;
}
.content-media-box-title {
  height: 20%;
}

/* Content - Member */
.content-members-container {
  display: flex;
  flex-direction: row;
}
.content-members-list {
  width: 13%;
  padding: 0 0.25vw;
}
.content-members-list-header {
  color: white;
  font-weight: bold;
  margin: 1.5vh 0;
}
.content-members-list-content {
  color: gray;
  margin: 0.5vh 0;
}
.content-members-list-content:hover {
  text-decoration: underline;
}
