$background-color: #1b1f23 !default;
$color: white !default;
$title-background-color: #262a2d;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-area {
  height: 8vh;
  display: flex;
  flex-direction: row;
  background-color: $background-color;
  color: $color;

  &__left {
    display: inline-block;
    width: 45%;
  }
  &__right {
    display: inline-block;
    width: 55%;
  }
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    margin: 2vh 0;
    width: 20%;
  }
}

.header-contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  &__link {
    margin: 0 0.75vw;
  }

  &__link-title {
    font-size: 0.85rem;
    font-weight: bold;
    text-decoration: none;
    color: $color;

    &:hover {
      color: green;
    }
  }

  &__color-button {
    margin: 0 0.75vw;
  }
}

.header-divider {
  border-bottom: 0.01rem solid #262a2d;
}

.title-container {
  height: 60vh;
  width: 100%;
  position: relative;
  background-color: $title-background-color;
  color: $color;

  %side-box {
    height: 100%;
  }

  &__left {
    @extend %side-box;
    position: absolute;
    left: 0;
  }

  &__right {
    @extend %side-box;
    position: absolute;
    right: 0;
  }

  &__center {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.title-left-figures {
  position: relative;
  left: 0;
  width: 45vh;
  height: 60vh;
  border-radius: 0 100% 100% 0;
  background-color: #1b1f23;

  &__first-triangle {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    border-top: 20vh solid transparent;
    border-right: 20vh solid transparent;
    border-left: 20vh solid #80ea6e;
    border-bottom: 20vh solid #80ea6e;
    background-color: transparent;
  }

  &__second-triangle {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 20vh;
    border-top: 7.5vh solid transparent;
    border-left: 7.5vh solid #6db33f;
    border-bottom: 7.5vh solid transparent;
  }
}

.title-right-figures {
  position: relative;
  width: 100%;
  height: 100%;

  &__half-circle {
    position: absolute;
    right: 0;
    width: 45vh;
    height: 60vh;
    border-radius: 100% 0 0 100%;
    background-color: #80ea6e;
  }

  &__horizontal-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30vh;
    width: 40vw;
    background-color: $title-background-color;
  }

  &__vertical-bar {
    position: absolute;
    right: 0;
    height: 60vh;
    width: 4vw;
    background-color: #1f2327;
    opacity: 0.6;
  }
}

.title-center-factors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  %font-style {
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }

  &__first-context {
    @extend %font-style;
  }

  &__second-context {
    @extend %font-style;
  }
}

.title-center-factors-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &__factor {
    margin: 3vh 0.5vw;
    height: 7.5vh;
    width: 12vw;
    border: 0.1rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.announce-container {
  height: 12vh;
  width: 100%;
  background-color: $background-color;

  &__content-wrapper {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: row;
  }

  %common-style {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__first-content {
    @extend %common-style;
    width: 10%;
  }

  &__second-content {
    @extend %common-style;
    width: 50%;
  }

  &__third-content {
    @extend %common-style;
    width: 10%;
  }

  &__fourth-content {
    @extend %common-style;
    width: 50%;
  }
}

.announce-content-icon {
  background: #1f98ff;
  border-radius: 1rem;
  padding: 0.5vh 1vw;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

.announce-content-link {
  color: #1f98ff;

  &:hover {
    text-decoration: underline solid #1f98ff;
  }
}

.announce-content-divider {
  height: 30%;
  border-right: 0.15rem solid #262a2d;
}

.announce-divider {
  border-bottom: 0.01rem solid #262a2d;
}

.main-contents-container {
  width: 100%;
  background: $background-color;

  &__contents-area {
    margin: 0 auto;
    width: 80%;
  }
}

.main-contents-sentence {
  padding: 5vh 0;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.main-contents-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  &__service-wrapper {
    margin: 1% 1%;
    padding: 2% 2%;
    border: 0.1rem solid #2b2f33;
    border-radius: 2%;
    width: 20%;
    height: 40vh;
    color: white;

    &:hover {
      border-color: white;
      transform: translateY(-1%);
      color: #6db33f; // 強引にここで"service-title"の色を設定
    }
  }
}

.main-content-service {
  display: flex;
  justify-content: center;
  flex-direction: column;

  %common-style {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__svg-area {
    height: 40%;
    color: white;
  }

  &__title-area {
    @extend %common-style;
    height: 10%;
  }

  &__sentence-area {
    @extend %common-style;
    height: 50%;
  }
}

.service-svg {
  margin: auto;
  height: 50%;
  width: 50%;
}

.service-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.service-sentence {
  color: gray;
  padding: 0 5%;
  text-align: center;
  font-size: 1rem;
}

.main-contents-second-section {
  %common-height {
    height: 40vh;
  }

  @extend %common-height;

  margin: 2.5vh auto;
  width: 80%;
  display: flex;
  flex-direction: row;

  &__left-box {
    @extend %common-height;
    width: 60%;
  }

  &__right-box {
    @extend %common-height;
    width: 40%;
  }
}

.second-section-code-area {
  height: 100%;
  padding: 0% 10%;
  background-color: #262a2d;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.codes {
  color: white;
  font-size: 1.25rem;

  &__terminal-blue {
    color: #36bedb;
  }
  &__terminal-lime {
    color: #a1d21b;
  }
  &__terminal-green {
    color: #23c44c;
  }
  &__single-indent {
    margin-left: 5%;
  }
  &__double-indent {
    margin-left: 10%;
  }
}

.second-section-sentence-area {
  height: 100%;
  padding: 0 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  %common-style {
    margin: 1vh 0;
  }

  &__title {
    @extend %common-style;
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }

  &__sentence {
    @extend %common-style;
    color: #bbbcbe;
  }

  &__link {
    color: #1f98ff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.main-contents-third-section {
  width: 50%;
  padding: 2.5vh 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  %common-margin {
    margin: 1vh 0;
  }

  &__big-quote {
    @extend %common-margin;
    width: 7.5%;
    color: green;
  }

  &__sentence {
    @extend %common-margin;
    color: #6db33f;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
  }

  &__profile-area {
    @extend %common-margin;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.third-section-icon {
  margin: 1vw;
  &__img {
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    background-color: white;
  }
}

.third-section-profiles {
  margin: 1vw;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;

  &__link {
    color: #1f98ff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-area {
  width: 100%;
}

.footer-first-contents-wrapper {
  background-color: $title-background-color;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-first-contents {
  z-index: 0.5;
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-first-informations {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer-first-information {
  width: 22.5%;
  margin: 0 2%;
  height: 100%;

  %common-margin {
    margin: 1vh 0;
  }

  &__title {
    @extend %common-margin;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__description {
    @extend %common-margin;
    color: rgb(187, 188, 190);
  }

  &__link {
    @extend %common-margin;
    color: rgb(31, 152, 255);
  }

  &__space {
    height: 1vh;
  }
}

.footer-first-circle {
  position: absolute;
  background-color: #6db33f;
  border-radius: 50%;
  height: 345px;
  width: 345px;
  right: -2.5vw;
  bottom: -15vh;
}

.footer-second-contents-wrapper {
  position: relative;
  padding: 0 5%;
  width: 100%;
  background-color: $background-color;
  display: flex;
  flex-direction: row;
}

.footer-site-links-wrapper {
  width: 60%;

  &__content {
    width: 80%;
    margin: 3vh 10%;
    display: flex;
    flex-direction: row;
  }
}

.footer-site-links-container {
  width: 20%;
  margin: 0 2.5%;
  flex-direction: column;

  %common-color {
    color: white;
  }

  &__title {
    @extend %common-color;
    font-weight: bold;
    margin: 2vh 0;
  }

  &__factor {
    @extend %common-color;
    font-size: 0.8rem;
    margin: 1vh 0;
  }
}

.footer-newsletter-wrapper {
  width: 40%;

  &__content {
    width: 100%;
    margin: 4vh 0;
    display: flex;
    flex-direction: column;
  }
}

.footer-newsletter-title {
  margin: 1vh 0;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-newsletter-form {
  margin: 1vh 0;
  height: 5vh;
  display: flex;
  flex-direction: row;

  &__input-wrapper {
    width: 40%;
    border: 0.1rem solid white;
    background-color: black;
  }

  &__input {
    height: 100%;
    width: 100%;
    padding: 0.5vh 0.5vw;
    background-color: black;
    color: white;
  }

  &__submit {
    width: 20%;
    border: 0.1rem solid white;
    background-color: white;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: white;
      border: 0.1rem solid #99c47c;
      background-color: #99c47c;
    }
  }
}

.footer-newsletter-policy {
  margin: 1vh 0;
  display: flex;
  flex-direction: row;

  &__checkbox {
    margin: 0.5vh 0.25vw;
  }

  &__sentence {
    margin: 0 0.25vw;
    width: 60%;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.3);
  }

  &__link {
    color: rgb(31, 152, 255);
    text-decoration: none;
  }
}

.footer-third-contents-wrapper {
  padding: 0 5%;
  background-color: $background-color;
}

.footer-third-contents-header {
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.footer-third-contents-logo {
  height: 100%;
}

.footer-third-contents-icons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer-third-contents-icon {
  margin: 0 1vw;
  height: 5vh;
  width: 5vh;
  border-radius: 100% 100% 100% 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    /* TODO: svgが黒単色になっている */
    height: 4vh;
    width: 4vh;
    flex-shrink: 0;
  }
}

.footer-third-sentences {
  margin: 3vh 0;
  padding: 0 18%;
  margin: 1vh 0;
  color: rgba(255, 255, 255, 0.3);
}
