@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.header-area {
  height: 8vh;
  display: flex;
  flex-direction: row;
  background-color: #1b1f23;
  color: white; }
  .header-area__left {
    display: inline-block;
    width: 45%; }
  .header-area__right {
    display: inline-block;
    width: 55%; }

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-logo__logo {
    margin: 2vh 0;
    width: 20%; }

.header-contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }
  .header-contents__link {
    margin: 0 0.75vw; }
  .header-contents__link-title {
    font-size: 0.85rem;
    font-weight: bold;
    text-decoration: none;
    color: white; }
    .header-contents__link-title:hover {
      color: green; }
  .header-contents__color-button {
    margin: 0 0.75vw; }

.header-divider {
  border-bottom: 0.01rem solid #262a2d; }

.title-container {
  height: 60vh;
  width: 100%;
  position: relative;
  background-color: #262a2d;
  color: white; }
  .title-container .title-container__left, .title-container .title-container__right {
    height: 100%; }
  .title-container__left {
    position: absolute;
    left: 0; }
  .title-container__right {
    position: absolute;
    right: 0; }
  .title-container__center {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }

.title-left-figures {
  position: relative;
  left: 0;
  width: 45vh;
  height: 60vh;
  border-radius: 0 100% 100% 0;
  background-color: #1b1f23; }
  .title-left-figures__first-triangle {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    border-top: 20vh solid transparent;
    border-right: 20vh solid transparent;
    border-left: 20vh solid #80ea6e;
    border-bottom: 20vh solid #80ea6e;
    background-color: transparent; }
  .title-left-figures__second-triangle {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 20vh;
    border-top: 7.5vh solid transparent;
    border-left: 7.5vh solid #6db33f;
    border-bottom: 7.5vh solid transparent; }

.title-right-figures {
  position: relative;
  width: 100%;
  height: 100%; }
  .title-right-figures__half-circle {
    position: absolute;
    right: 0;
    width: 45vh;
    height: 60vh;
    border-radius: 100% 0 0 100%;
    background-color: #80ea6e; }
  .title-right-figures__horizontal-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30vh;
    width: 40vw;
    background-color: #262a2d; }
  .title-right-figures__vertical-bar {
    position: absolute;
    right: 0;
    height: 60vh;
    width: 4vw;
    background-color: #1f2327;
    opacity: 0.6; }

.title-center-factors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .title-center-factors .title-center-factors__first-context, .title-center-factors .title-center-factors__second-context {
    font-size: 3rem;
    font-weight: bold;
    color: white; }

.title-center-factors-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .title-center-factors-buttons__factor {
    margin: 3vh 0.5vw;
    height: 7.5vh;
    width: 12vw;
    border: 0.1rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; }
    .title-center-factors-buttons__factor:hover {
      background-color: white;
      color: black; }

.announce-container {
  height: 12vh;
  width: 100%;
  background-color: #1b1f23; }
  .announce-container__content-wrapper {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: row; }
  .announce-container .announce-container__first-content, .announce-container .announce-container__second-content, .announce-container .announce-container__third-content, .announce-container .announce-container__fourth-content, .announce-container .main-content-service__title-area, .announce-container .main-content-service__sentence-area, .announce-container .second-section-sentence-area__title, .announce-container .second-section-sentence-area__sentence {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .announce-container__first-content {
    width: 10%; }
  .announce-container__second-content {
    width: 50%; }
  .announce-container__third-content {
    width: 10%; }
  .announce-container__fourth-content {
    width: 50%; }

.announce-content-icon {
  background: #1f98ff;
  border-radius: 1rem;
  padding: 0.5vh 1vw;
  color: white;
  font-weight: bold;
  font-size: 0.8rem; }

.announce-content-link {
  color: #1f98ff; }
  .announce-content-link:hover {
    text-decoration: underline solid #1f98ff; }

.announce-content-divider {
  height: 30%;
  border-right: 0.15rem solid #262a2d; }

.announce-divider {
  border-bottom: 0.01rem solid #262a2d; }

.main-contents-container {
  width: 100%;
  background: #1b1f23; }
  .main-contents-container__contents-area {
    margin: 0 auto;
    width: 80%; }

.main-contents-sentence {
  padding: 5vh 0;
  color: white;
  font-weight: bold;
  font-size: 2rem; }

.main-contents-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .main-contents-services__service-wrapper {
    margin: 1% 1%;
    padding: 2% 2%;
    border: 0.1rem solid #2b2f33;
    border-radius: 2%;
    width: 20%;
    height: 40vh;
    color: white; }
    .main-contents-services__service-wrapper:hover {
      border-color: white;
      transform: translateY(-1%);
      color: #6db33f; }

.main-content-service {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .main-content-service .announce-container__first-content, .main-content-service .announce-container__second-content, .main-content-service .announce-container__third-content, .main-content-service .announce-container__fourth-content, .main-content-service .main-content-service__title-area, .main-content-service .main-content-service__sentence-area, .main-content-service .second-section-sentence-area__title, .main-content-service .second-section-sentence-area__sentence {
    display: flex;
    justify-content: center;
    align-items: center; }
  .main-content-service__svg-area {
    height: 40%;
    color: white; }
  .main-content-service__title-area {
    height: 10%; }
  .main-content-service__sentence-area {
    height: 50%; }

.service-svg {
  margin: auto;
  height: 50%;
  width: 50%; }

.service-title {
  font-weight: bold;
  font-size: 1.5rem; }

.service-sentence {
  color: gray;
  padding: 0 5%;
  text-align: center;
  font-size: 1rem; }

.main-contents-second-section {
  margin: 2.5vh auto;
  width: 80%;
  display: flex;
  flex-direction: row; }
  .main-contents-second-section .main-contents-second-section, .main-contents-second-section .main-contents-second-section__left-box, .main-contents-second-section .main-contents-second-section__right-box {
    height: 40vh; }
  .main-contents-second-section__left-box {
    width: 60%; }
  .main-contents-second-section__right-box {
    width: 40%; }

.second-section-code-area {
  height: 100%;
  padding: 0% 10%;
  background-color: #262a2d;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.codes {
  color: white;
  font-size: 1.25rem; }
  .codes__terminal-blue {
    color: #36bedb; }
  .codes__terminal-lime {
    color: #a1d21b; }
  .codes__terminal-green {
    color: #23c44c; }
  .codes__single-indent {
    margin-left: 5%; }
  .codes__double-indent {
    margin-left: 10%; }

.second-section-sentence-area {
  height: 100%;
  padding: 0 20%;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .second-section-sentence-area .announce-container__first-content, .second-section-sentence-area .announce-container__second-content, .second-section-sentence-area .announce-container__third-content, .second-section-sentence-area .announce-container__fourth-content, .second-section-sentence-area .main-content-service__title-area, .second-section-sentence-area .main-content-service__sentence-area, .second-section-sentence-area .second-section-sentence-area__title, .second-section-sentence-area .second-section-sentence-area__sentence {
    margin: 1vh 0; }
  .second-section-sentence-area__title {
    color: white;
    font-size: 2rem;
    font-weight: bold; }
  .second-section-sentence-area__sentence {
    color: #bbbcbe; }
  .second-section-sentence-area__link {
    color: #1f98ff;
    text-decoration: none; }
    .second-section-sentence-area__link:hover {
      text-decoration: underline; }

.main-contents-third-section {
  width: 50%;
  padding: 2.5vh 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .main-contents-third-section .main-contents-third-section__big-quote, .main-contents-third-section .main-contents-third-section__sentence, .main-contents-third-section .main-contents-third-section__profile-area, .main-contents-third-section .footer-first-information__title, .main-contents-third-section .footer-first-information__description, .main-contents-third-section .footer-first-information__link {
    margin: 1vh 0; }
  .main-contents-third-section__big-quote {
    width: 7.5%;
    color: green; }
  .main-contents-third-section__sentence {
    color: #6db33f;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center; }
  .main-contents-third-section__profile-area {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }

.third-section-icon {
  margin: 1vw; }
  .third-section-icon__img {
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    background-color: white; }

.third-section-profiles {
  margin: 1vw;
  font-size: 0.8rem;
  font-weight: bold;
  color: white; }
  .third-section-profiles__link {
    color: #1f98ff;
    text-decoration: none; }
    .third-section-profiles__link:hover {
      text-decoration: underline; }

.footer-area {
  width: 100%; }

.footer-first-contents-wrapper {
  background-color: #262a2d;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer-first-contents {
  z-index: 0.5;
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer-first-informations {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row; }

.footer-first-information {
  width: 22.5%;
  margin: 0 2%;
  height: 100%; }
  .footer-first-information .main-contents-third-section__big-quote, .footer-first-information .main-contents-third-section__sentence, .footer-first-information .main-contents-third-section__profile-area, .footer-first-information .footer-first-information__title, .footer-first-information .footer-first-information__description, .footer-first-information .footer-first-information__link {
    margin: 1vh 0; }
  .footer-first-information__title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold; }
  .footer-first-information__description {
    color: #bbbcbe; }
  .footer-first-information__link {
    color: #1f98ff; }
  .footer-first-information__space {
    height: 1vh; }

.footer-first-circle {
  position: absolute;
  background-color: #6db33f;
  border-radius: 50%;
  height: 345px;
  width: 345px;
  right: -2.5vw;
  bottom: -15vh; }

.footer-second-contents-wrapper {
  position: relative;
  padding: 0 5%;
  width: 100%;
  background-color: #1b1f23;
  display: flex;
  flex-direction: row; }

.footer-site-links-wrapper {
  width: 60%; }
  .footer-site-links-wrapper__content {
    width: 80%;
    margin: 3vh 10%;
    display: flex;
    flex-direction: row; }

.footer-site-links-container {
  width: 20%;
  margin: 0 2.5%;
  flex-direction: column; }
  .footer-site-links-container .footer-site-links-container__title, .footer-site-links-container .footer-site-links-container__factor {
    color: white; }
  .footer-site-links-container__title {
    font-weight: bold;
    margin: 2vh 0; }
  .footer-site-links-container__factor {
    font-size: 0.8rem;
    margin: 1vh 0; }

.footer-newsletter-wrapper {
  width: 40%; }
  .footer-newsletter-wrapper__content {
    width: 100%;
    margin: 4vh 0;
    display: flex;
    flex-direction: column; }

.footer-newsletter-title {
  margin: 1vh 0;
  color: white;
  font-size: 1.5rem;
  font-weight: bold; }

.footer-newsletter-form {
  margin: 1vh 0;
  height: 5vh;
  display: flex;
  flex-direction: row; }
  .footer-newsletter-form__input-wrapper {
    width: 40%;
    border: 0.1rem solid white;
    background-color: black; }
  .footer-newsletter-form__input {
    height: 100%;
    width: 100%;
    padding: 0.5vh 0.5vw;
    background-color: black;
    color: white; }
  .footer-newsletter-form__submit {
    width: 20%;
    border: 0.1rem solid white;
    background-color: white;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer-newsletter-form__submit:hover {
      color: white;
      border: 0.1rem solid #99c47c;
      background-color: #99c47c; }

.footer-newsletter-policy {
  margin: 1vh 0;
  display: flex;
  flex-direction: row; }
  .footer-newsletter-policy__checkbox {
    margin: 0.5vh 0.25vw; }
  .footer-newsletter-policy__sentence {
    margin: 0 0.25vw;
    width: 60%;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.3); }
  .footer-newsletter-policy__link {
    color: #1f98ff;
    text-decoration: none; }

.footer-third-contents-wrapper {
  padding: 0 5%;
  background-color: #1b1f23; }

.footer-third-contents-header {
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; }

.footer-third-contents-logo {
  height: 100%; }

.footer-third-contents-icons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.footer-third-contents-icon {
  margin: 0 1vw;
  height: 5vh;
  width: 5vh;
  border-radius: 100% 100% 100% 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer-third-contents-icon > svg {
    /* TODO: svgが黒単色になっている */
    height: 4vh;
    width: 4vh;
    flex-shrink: 0; }

.footer-third-sentences {
  margin: 3vh 0;
  padding: 0 18%;
  margin: 1vh 0;
  color: rgba(255, 255, 255, 0.3); }
