@import url(//db.onlinewebfonts.com/c/85d65c26f454595445e2ff5057ca1733?family=Catull + BQ);
@font-face {
  font-family: "Catull BQ";
  src: url("//db.onlinewebfonts.com/t/85d65c26f454595445e2ff5057ca1733.eot");
  src: url("//db.onlinewebfonts.com/t/85d65c26f454595445e2ff5057ca1733.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/85d65c26f454595445e2ff5057ca1733.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/85d65c26f454595445e2ff5057ca1733.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/85d65c26f454595445e2ff5057ca1733.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/85d65c26f454595445e2ff5057ca1733.svg#Catull BQ")
      format("svg");
}
header {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 5vh;
}
.header-container {
  float: right;
  width: 15%;
  height: 100%;
}
.header-container a {
  display: inline-block;
  text-decoration: none;
  color: grey;
  width: 20%;
  padding: 0;
  text-align: center; /* <- inline, inline-block */
  /* margin: 0 auto <- block*/
}
.material-icons {
  text-align: center;
  font-size: 2rem;
  margin: 1vh 0;
}
main {
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-title {
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: 0em;
  margin: 2vh 0;
  border: none;
  font-family: "Catull BQ";
}
.main-title-red {
  color: red;
  margin: 0;
}
.main-title-green {
  color: green;
  margin: 0;
}
.main-title-blue {
  color: blue;
  margin: 0;
}
.main-title-yellow {
  color: yellow;
  margin: 0;
}
.main-search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2vh 0;
  width: 30vw;
  height: 5vh;
  border: 2px solid lightgrey;
  border-radius: 30px;
}
.main-search-area input[type="text"] {
  display: inline-block;
  width: 25vw;
  height: 4vh;
  border: none;
}
.main-search-buttons {
  margin: 1vh 0;
}
.main-search-buttons button {
  height: 5vh;
  width: 7vw;
  margin: 0 0.5vw;
  color: grey;
  background-color: gainsboro;
  border: none;
  border-radius: 30px;
}
.main-caution {
}

footer {
  position: fixed;
  background-color: gainsboro;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 10vh;
}
.footer-high {
}
.footer-high a {
  text-decoration: none;
  color: grey;
}
.footer-border {
  border: 1px solid silver;
}
.footer-low-left {
  float: left;
}
.footer-low-left a {
  text-decoration: none;
  color: grey;
}
.footer-low-right {
  float: right;
}
.footer-low-right a {
  text-decoration: none;
  color: grey;
}
